<ul class="nav nav-pills nav-fill">
  <h1 class="navbar-brand">Hoop Heroes<img src="https://ae01.alicdn.com/kf/HTB1iTUKKlLoK1RjSZFuq6xn0XXaH/Mini-Yellow-Basketball-Rubber-Training-Small-Size-for-Indoor-Mini-Basketball.jpg" height="40px"></h1>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">MyTEAM</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/teams#index">Top Squads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/players#index">Hooper Power Rankings</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
  </li>
</ul>